FB_PAGE_ID=
FB_PAGE_ACCESS_TOKEN=

PORT=3000

FB_GRAPH_VERSION=v26.0

FB_PROFILE_DIR=./fb-profile

FB_HEADLESS=false

FB_CONCURRENCY=2

FB_DELAY_MIN_MS=1500

FB_DELAY_MAX_MS=3500

FB_MAX_RETRIES=2

TZ=Asia/Ho_Chi_Minh
